  <div class="header">
    <div class="left"><a [routerLink]="['/home']"><i nz-icon nzType="home" nzTheme="outline"></i></a></div>
    <div class="right">
      <p (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i></p>
    </div>
  </div>

  <style>

  .header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 100px;
  width: 100vw;
}

.left {
  padding-left: 70px;
  padding-top: 30px;
  font-size: 25px;
  justify-self: flex-start;
}
.right {
  padding-right: 70px;
  font-size: 25px;
  padding-top: 30px;
  float:right;
}
.left a {
  color: #433F40;
}
.left a:hover {
  color: #34DA74;
}

.right p {
  color: #433F40;
}
.right p:hover {
  cursor: pointer;
  color: red;
}

.left p {
  cursor: ponter;
}

@media only screen and (max-width: 700px) {
    .left {
    }
    .right {
      
    }
  }
  @media only screen and (max-width: 500px) {
    .left {
    }
    .right {

    }
  }
  </style>