.background {
  background-color: #EBEFF5 !important;
  height: 100vh;
  width: 100vw;
}

.container {
  margin-top: 300px;
  position: absolute;
  text-align: center;
  width: 20vw;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
p {
  color: #A5A5A5;
  font-size: 16px;
  margin-bottom: 5%;
}
a {
  color: #4BDA81;
  font-weight: bold;
}
.login-form-button {
  height: 60px;
  background-color: #4BDA81;
  border: none;
}
.bottomText {
  margin-top: 5%;
}
@media only screen and (max-width: 40.063em) {
  .container {
    width: 50vw;
  }
} /* min-width 641px, medium screens */
@media only screen and (max-width: 30em) {
  .container {
    width: 90vw;
  }
  h1 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 35vw;
  }
}