<div class="background">
<div class="container">
  <h1 nz-typography>Register</h1>
  <p>Please register an account below to start creating cards</p>
  <p style="color: rgb(253, 90, 90)">  {{errors}} </p>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" required />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please repeat your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="passwordRepeat" placeholder="Repeat your password" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button class="login-form-button login-form-margin" nzBlock [nzType]="'primary'">Register</button>
    <div class="bottomText">
      Already have an account? <a [routerLink]="['/login']"> Login </a>
    </div>
  </form>
</div>
</div>