

<div class="header">
  <div class="left"><a [routerLink]="['/home']"><i nz-icon nzType="left" nzTheme="outline"></i>Back</a></div>
  <div class="right">
    <p (click)="logout()">Logout</p>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="greeting">
      <h1 style="text-align: center;">Add new card</h1>
    </div>
    <div class="cards">
      <div class="card">
        <div class="upper">
          <form id="addCardForm" [formGroup]="addCardForm" (ngSubmit)="onSubmit(addCardForm.value)">

            <textarea class="question" nz-input placeholder="Question" [nzAutosize]="{ minRows: 3, maxRows: 5 }" formControlName="question" style="height: 100px;"></textarea>
            <textarea nz-input placeholder="Answer" [nzAutosize]="{ minRows: 3, maxRows: 5 }" formControlName="answer"></textarea>
          
            <nz-select class="test" [nzSize]="size" nzMode="tags" nzPlaceHolder="Select tags" formControlName="tags">
              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
            <button id="submitBtn" nz-button nzType="default" type="submit" style="display: none;">Add card</button>
          </form>
        </div>
        <div class="lower">

        </div>
        <div class="revealButton" onclick="document.getElementById('submitBtn').click()">
          <p>
            ADD CARD
          </p>
        </div>
      </div>
  </div>
</div>


<style>

    .revealButton {
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid #F3F4F5;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .revealButton:hover {
    cursor: pointer;
    font-size: 16px;
  }
  .revealButton p {
    font-weight: 600;
    padding-top: 15px;
  }
    .cards {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .card {
    position: relative;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    width: 600px;
    height: 300px;
  }
  .upper {
    background: #F5F5F5;  /* fallback for old browsers */
    height: 95px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .lower {
    height: 50px;
    background-color: white;
  }
  .lower h3 {
    margin-top: -10px;
  }
  .lower p {
    font-size: 16px;
    padding-top: 10px;
  }

  .greeting {
    margin-top: 100px;
    padding-bottom: 30px;
  }
  .greeting h1, .greeting p {
    margin-top: 15px;
  }
  .greeting p {
    margin-top: -15px;
  }
  .greeting h1 {
    font-weight: bold;
  }

  .container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EBEFF5 !important;
    width: 100vw;
    height: 90vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
    align-content: center;
  }
  .left {
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
    justify-self: flex-start;
  }
  .right {
    padding-right: 50px;
    font-size: 20px;
    padding-top: 30px;
    float:right;
  }
  .right p {
    cursor: pointer;
  }
  .left p {
    cursor: pointer;
  }
  @media only screen and (max-width: 700px) {
    .greeting {
      padding-bottom: 10px;
    }
    .card {
      width: 450px;
      height: 390px;
      margin: 5px;
    }
  }
  @media only screen and (max-width: 500px) {
    .card {
      width: 360px;
      height: 312px;
      margin: 2px;
    }
</style>