/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

* {
  box-sizing: content-box;
}

.ant-progress-inner {
  position: absolute !important;
  top: 0 !important;

}