
<!-- <div class="header">
  <div class="left"></div>
  <div class="right">
    <p (click)="logout()">Logout</p>
  </div>
</div> -->
<app-header class="fw"></app-header>

<div class="container">

  <div class="content">
    <div class="greeting">
      <h1>Good morning</h1>
      <p>Pick a study to start reviewing</p>
    </div>

    <div class="cards">
      <div class="card">
        <a [routerLink]="['/review']">
          <div class="upper">
          </div>
          <div class="lower">
            <p>You have {{ noOfDueCards }} cards due</p>
            <h3>Today</h3>
          </div>
        </a>
      </div>
      <div class="card">
        <a [routerLink]="['/shuffle']">
          <div class="upper">
          </div>
          <div class="lower">
            <p>Randomized study</p>
            <h3>5 Minute Shuffle</h3>
          </div>
        </a>
      </div>
      <div class="card">
        <a [routerLink]="['/custom']">
          <div class="upper">
          </div>
          <div class="lower">
            <p>Preparing for a test?</p>
            <h3>Custom study</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="add">
      <button nz-button nzType="success"><a [routerLink]="['/add']">Add card</a></button>
    </div>
  </div>
</div>

<style>
  .greeting {
    margin-top: 100px;
    padding-bottom: 30px;
  }
  .greeting h1, .greeting p {
    margin: 15px;
  }
  .greeting p {
    margin-top: -15px;
  }
  .greeting h1 {
    font-weight: bold;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
  }
  .right {
    padding-right: 50px;
    font-size: 20px;
    padding-top: 30px;
    float:right;
  }
  .right p {
    cursor: pointer;
  }
  .container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EBEFF5 !important;
    width: 100vw;
    height: calc(100vh - 100px);
  }
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card {
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    width: 200px;
    height: 175px;
  }
  .upper {
    background-color: #FBBC05;
    height: 95px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .lower {
    height: 50px;
    background-color: white;
  }
  .lower p {
    padding-left: 15px;
  }
  .lower h3 {
    padding-left: 15px;
    margin-top: -10px;
  }
  .lower p {
    padding-top: 10px;
  }
  a {
    color: #747474;
  }
  .add {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .add button {
    margin-top: 70px;
    height: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(52, 218, 116);
    width: 300px;
    border: none;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 700px) {
    .greeting {
      padding-bottom: 10px;
    }
    .card {
      width: 150px;
      height: 130px;
      margin: 5px;
    }
    .upper {
      height: 68px;
    }
    .lower {
      height: 38px;
    }
    .lower p {
      font-size: 12px;
    }
    .add button {
      width: 175px;
      height: 60px;
    }
    .lower h3 {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 500px) {
    .greeting {
      margin-top: 50px;
    }
    .cards {
      flex-direction: column;
    }
    .card {
      margin: 10px auto;
      width: 225px;
      height: 110px;
    }
    .upper {
      height: 54px;
    }
    .lower {
      height: 30px;
    }
    .lower p {
      font-size: 9px;
      padding-left: 10px;
    }
    .lower h3 {
      font-size: 12px;
      padding-left: 10px;
      padding-bottom: 2px;
    }
    .add button {
      margin-top: 20px;
    }
  }
  @media only screen and (max-height: 720px) {
    .container {
      height: 100%;
    }
    .add {
      margin-bottom: 20px;
    }
  }
</style>