<app-header class="fw"></app-header>

<div class="container" *ngIf="loaded; else loadingBlock">
  <div class="content">
    <div class="greeting">
      <h1 style="text-align: center;">5 Minute Shuffle</h1>
      <p style="text-align: center;" *ngIf="dueCards && index < dueCards.length">{{index+1}} out of {{ dueCards.length }} cards</p>
    </div>

    <div class="cards">
      <div *ngIf="cardToDisplay; else elseBlock"  class="card">
          <div class="upper">
              <nz-progress [nzPercent]="progressPercent" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"  [nzShowInfo]="false"></nz-progress>
              <div class="question center">
                <h2>{{ cardToDisplay.question }}</h2>
              </div>
          </div>
          <div class="answer lower" *ngIf="revealAnswer">
            <p>
              {{ cardToDisplay.answer }}
            </p>
          </div>
          <div class="revealButton" (click)="toggleAnswer()" *ngIf="!revealAnswer; else revealBlock">
            <p>
              <span nz-tooltip nzTooltipTitle="See answer (SPACE)" nzTooltipPlacement="bottom">SEE ANSWER</span>
            </p>
          </div>
      </div>
      
      <ng-template #revealBlock>
        <div class="buttons">
          <div class="button againButton" (click)="nextCard()"><span nz-tooltip nzTooltipTitle="Next card (SPACE)" nzTooltipPlacement="bottom">NEXT</span></div>
        </div>
      </ng-template>


      <!-- Else -->
      <ng-template #elseBlock>
        <div class="container">
          <p style="text-align: center;">Time's up! <a [routerLink]="['/home']" style="color:#34DA74; font-weight: bold;">Go back?</a></p>
        </div>
      </ng-template>

    </div>
    </div>
  </div>

  <ng-template #loadingBlock>
    <div class="container">
      <div class="loader">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
    </div>
  </ng-template>

<style>
  .loader {
    margin-top: 300px;
  }
  .tags {
    margin-top: 45px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .question {
    padding-top: 15px;
  }
  .answer {
    text-align: center;
    padding-top: 50px;
  }
  .center {
    text-align: center;
  }
  .ant-progress-inner {
    position: absolute !important;
    top: 0 !important;
  }

  .greeting {
    margin-top: 100px;
    padding-bottom: 30px;
  }
  .greeting h1, .greeting p {
    margin-top: 15px;
  }
  .greeting p {
    margin-top: -15px;
  }
  .greeting h1 {
    font-weight: bold;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
    align-content: center;
  }
  .left {
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
    justify-self: flex-start;
  }
  .right {
    padding-right: 50px;
    font-size: 20px;
    padding-top: 30px;
    float:right;
  }
  .right p {
    cursor: pointer;
  }
  .left p {
    cursor: pointer;
  }
  .container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EBEFF5 !important;
    width: 100vw;
    height: calc(100vh - 100px);
  }
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card {
    position: relative;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    width: 600px;
    height: 300px;
  }
  .upper {
    background: #F5F5F5;  /* fallback for old browsers */
    height: 95px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .lower {
    height: 50px;
    background-color: white;
  }
  .lower h3 {
    margin-top: -10px;
  }
  .lower p {
    font-size: 16px;
    padding-top: 10px;
  }
  a {
    color: #747474;
  }
  .add {
    margin: 10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .buttons {
    margin-top: 150px;
    display: flex;
    text-align: center;
    box-sizing:content-box;
    border-top: 1px solid #f3f4f5;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
  }
  .button {
    padding: 15px;
    cursor: pointer;
  } 
  .againButton {
    color: #34DA74;
  }
  .revealButton {
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid #F3F4F5;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .revealButton:hover {
    cursor: pointer;
    font-size: 16px;
  }
  .revealButton p {
    font-weight: 600;
    padding-top: 15px;
  }
  
  
  @media only screen and (max-width: 700px) {
    .greeting {
      padding-bottom: 10px;
    }
    .card {
      width: 450px;
      height: 390px;
      margin: 5px;
    }
  }
  @media only screen and (max-width: 500px) {
    .card {
      width: 360px;
      height: 312px;
      margin: 2px;
    }

  }
</style>